<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title %></title>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/itemList.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>
            <a href="/">← Voltar para Home</a>
          </li>
          <li>
            <a href="/products">Produtos</a>
          </li>
          <li>
            <a href="/clients">Clientes</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="container">
      <h1>Lista de <%=title %></h1>
      <p><%=title%> ja cadastrados</p>
      <table>
        <%if(!result||result.length==0){%>
        <thead>
          <tr>
            <td><h2>Nenhum cadastrado</h2></td>
          </tr>
        </thead>
        <%}else{if(type=="clients"){%>
        <thead>
          <tr>
            <td>Nome</td>
            <td>Idade</td>
            <td>Actions</td>
          </tr>
        </thead>

        <tbody>
          <%result.forEach(function(client) {%>
          <tr class="data-row">
            <td><%= client.nome %></td>
            <td><%= client.idade %></td>
            <td class="actions">
              <a href="clients/<%= client.id %>">Editar</a>
              <button class="delete-btn" data-id="<%= client.id %>">
                Excluir
              </button>
            </td>
          </tr>
        </tbody>
        <%})} else{%>
        <thead>
          <td>Nome</td>
          <td>Preco</td>
          <td>Stock</td>
          <td>Actions</td>
        </thead>
        <tbody>
          <%result.forEach(function(product) {%>
          <tr class="data-row">
            <td><%= product.nome %></td>
            <td><%= product.preco %></td>
            <td><%= product.quantidade_em_stock %></td>
            <td class="actions">
              <a href="/edit/<%= product.id %>">Editar</a>
              <a href="/delete/<%= product.id %>" class="delete-btn">Excluir</a>
            </td>
          </tr>
          <% }) %>
        </tbody>
        <%}}%>
        <tfoot>
          <td colspan="99">
            <a href="/<%=type%>/new" class="new-item-btn">Cadastrar Novo</a>
          </td>
        </tfoot>
      </table>
      <div class="pagination">
        <button onclick="previousPage()">Anterior</button>
        <span id="pageNumber">Página 1</span>
        <button onclick="nextPage()">Próxima</button>
      </div>
    </main>
    <script src="/js/itemList.js"></script>
  </body>
</html>
